@(studentList: List[Student])
@import java.util

@sidebarLayout("Student List") {
    @views.html.shared.adminSidebar()
} {
    <div class="pt-md-5">
        <div class="page-header row">
            <div class="col-sm-12">
                <h1>Users</h1>
            </div>
        </div>

        <form>
            <div class="row mb-10">
                <div class="col col-md-2">
                    <select class="form-control">
                        <option value="student" selected>Student</option>
                        <option value="faculty">Faculty</option>
                    </select>
                </div>
            </div>
        </form>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Student ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Major</th>
                    <th scope="col">Minor</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for(student <- studentList) {
                    <tr>
                        <td>@student.getId</td>
                        <td>@student.getFirstName</td>
                        <td>@student.getLastName</td>
                        <td>@student.getMajor.getName</td>
                        <td>@student.getMinor.getName</td>
                        <td><a href="@routes.StudentController.show(student.getId)">View</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-primary mt-5" href="#" role="button">Back to top</a>

    </div>
}