@main("View Course") {
<div class="pt-md-5">
    <div class="page-header row">
        <div class="col-sm-12">
            <h1>View Course</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">


            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">CourseID:</p>
                </div>
                <div class="col">
                    <p>&ltcourseID&gt</p>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Schedule #:</p>
                </div>
                <div class="col">
                    <p>&ltschedule#&gt</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Course Name:</p>
                </div>
                <div class="col">
                    <p>&ltcourseName&gt</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Date Held:</p>
                </div>
                <div class="col">
                    <p>&ltdateHeld&gt</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Time Held:</p>
                </div>
                <div class="col">
                    <p>&lttimeHeld&gt</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Location:</p>
                </div>
                <div class="col">
                    <p>&ltlocation&gt</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Instructor:</p>
                </div>
                <div class="col">
                    <p>&ltinstructor&gt</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Grading Scale:</p>
                </div>
                <div class="col">
                    <p>&ltgradingScale&gt</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Units:</p>
                </div>
                <div class="col">
                    <p>&ltunits&gt</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Seats:</p>
                </div>
                <div class="col">
                    <p>&ltseats&gt</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Department:</p>
                </div>
                <div class="col">
                    <p>&ltdepartment&gt</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Prerequisite(s):</p>
                </div>
                <div class="col">
                    <p>&ltprerequisite&gt</p>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Course Description:</p>
                </div>
                <div class="col">
                    <p>&ltcoursDescription&gt</p>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>

            <a href="#" class="btn btn-primary btn-md" role="button" aria-pressed="true">Edit</a>
            <a href="#" class="btn btn-secondary btn-md" role="button" aria-pressed="true">Back</a>

        </div>
    </div>

</div>
}