@main("Users") {
<div class="pt-md-5">
    <div class="page-header row">
        <div class="col-sm-12">
            <h1>Users</h1>
            <!--<h5>You can filter courses by selecting various criterias below.</h5>-->
        </div>
    </div>

    <form>
        <div class="row mb-10">
            <div class="col col-md-2">
                <select class="form-control">
                    <option value="student">Student</option>
                    <option value="faculty" selected>Faculty</option>
                </select>
            </div>
        </div>
    </form>


    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Faculty ID</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Department</th>
            <th scope="col">Office Location</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">facultyID</th>
            <td>firstName</td>
            <td>lastName</td>
            <td>Computer Science</td>
            <td>GMCS-300</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm">View</button>
                    <button type="button" class="btn btn-info btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">facultyID</th>
            <td>firstName</td>
            <td>lastName</td>
            <td>Computer Science</td>
            <td>GMCS-300</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm">View</button>
                    <button type="button" class="btn btn-info btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">facultyID</th>
            <td>firstName</td>
            <td>lastName</td>
            <td>Computer Science</td>
            <td>GMCS-300</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm">View</button>
                    <button type="button" class="btn btn-info btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">facultyID</th>
            <td>firstName</td>
            <td>lastName</td>
            <td>Computer Science</td>
            <td>GMCS-300</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm">View</button>
                    <button type="button" class="btn btn-info btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">facultyID</th>
            <td>firstName</td>
            <td>lastName</td>
            <td>Computer Science</td>
            <td>GMCS-300</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm">View</button>
                    <button type="button" class="btn btn-info btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">facultyID</th>
            <td>firstName</td>
            <td>lastName</td>
            <td>Computer Science</td>
            <td>GMCS-300</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm">View</button>
                    <button type="button" class="btn btn-info btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">facultyID</th>
            <td>firstName</td>
            <td>lastName</td>
            <td>Computer Science</td>
            <td>GMCS-300</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm">View</button>
                    <button type="button" class="btn btn-info btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">facultyID</th>
            <td>firstName</td>
            <td>lastName</td>
            <td>Computer Science</td>
            <td>GMCS-300</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm">View</button>
                    <button type="button" class="btn btn-info btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </td>
        </tr>

        </tbody>
    </table>

    <a class="btn btn-primary mt-5" href="#" role="button">Back to top</a>

</div>
}