@(faculty: Faculty)

@main("View Faculty") {
<div class="pt-md-5">
    <div class="page-header row">
        <div class="col-sm-12">
            <h1>View Faculty</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Faculty ID:</p>
                </div>
                <div class="col">
                    <p>@faculty.getId</p>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">First Name:</p>
                </div>
                <div class="col">
                    <p>@faculty.getFirstName</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Last Name:</p>
                </div>
                <div class="col">
                    <p>@faculty.getLastName</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Street 1:</p>
                </div>
                <div class="col">
                    <p>@faculty.getStreet</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">City:</p>
                </div>
                <div class="col">
                    <p>@faculty.getCity</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">State:</p>
                </div>
                <div class="col">
                    <p>@faculty.getState</p>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Zip Code:</p>
                </div>
                <div class="col">
                    <p>@faculty.getZip</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Country:</p>
                </div>
                <div class="col">
                    <p>@faculty.getCountry</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Phone:</p>
                </div>
                <div class="col">
                    <p>@faculty.getPhone</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Email Address:</p>
                </div>
                <div class="col">
                    <p>@faculty.getEmail</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Office Phone:</p>
                </div>
                <div class="col">
                    <p>N/A</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Office Location:</p>
                </div>
                <div class="col">
                    <p>N/A</p>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Office Hours:</p>
                </div>
                <div class="col">
                    <p>N/A</p>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Department:</p>
                </div>
                <div class="col">
                    <p>N/A</p>
                </div>
                <div class="col">
                    <p class="font-weight-bold">Position:</p>
                </div>
                <div class="col">
                    <p>N/A</p>
                </div>
            </div>

            <a href="#" class="btn btn-primary btn-md" role="button" aria-pressed="true">Edit</a>
            <a href="#" class="btn btn-secondary btn-md" role="button" aria-pressed="true">Back</a>

        </div>
    </div>

</div>
}