@main("Show FAQ") {
    <div class="pt-md-5">
        <div class="page-header row">
            <div class="col-sm-12">
                <h1>FAQ</h1>
            </div>
        </div>

        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h4>Question</h4><p>answer</p></li>
                <li class="list-group-item"><h4>Question</h4><p>answer</p></li>
                <li class="list-group-item"><h4>Question</h4><p>answer</p></li>
                <li class="list-group-item"><h4>Question</h4><p>answer</p></li>
                <li class="list-group-item"><h4>Question</h4><p>answer</p></li>
                <li class="list-group-item"><h4>Question</h4><p>answer</p></li>
                <li class="list-group-item"><h4>Question</h4><p>answer</p></li>
                <li class="list-group-item"><h4>Question</h4><p>answer</p></li>
            </ul>
        </div>
    </div>
}